::root {
    --border-radius: (10px)
}

body {
    background-color: rgb(79, 134, 236);
    color: azure;
}

main {
    width: 95%;
    text-align: center;
}

pre {
    background-image: linear-gradient(purple white);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    justify-content: center;
}

.column {}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    outline: 1px dashed purple;
    outline-offset: -1px;
    transition: all 0.5s ease-in-out;
}

.box .box {
    position: relative;
    margin: -4rem 0 1 1.5 0;
    padding: 0.5 1rem;
    background-color: white;
    border-radius: var(--border-radius);
    transition: all 0.5s ease-in-out;
}

.box:hover,
.box:hover .box {
    box-shadow: inset 0px 0px 8px;
}

.box pre {
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    border-radius: 8px;
    background-image: linear-gradient(red yellow);
}

.box pre:active {
    user-select: all;
}

.code-block {
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color: rgb(245, 102, 209);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.grid {}

.overlay {}

.gradient {}

.glow {}

.glow::hover,
.glow::hover .glow {}