body{
    background-color: rgb(51, 51, 51);

}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.row{
    display: flex;
    
}

.column{
    
}

.grid{
   
}

.overlay{
 
}

.gradient{
    
}

.glow{
    
}

.glow::hover,
.glow::hover .glow{
   
}
