                                                          ::root {
                                                             --border-radius: (10px);
                                                         }
                                                         
                                                         body {
                                                             background-color: black;
                                                             color: white;
                                                             font-family: Arial, Helvetica, sans-serif;
                                                         }
                                                         
                                                         header {
                                                             width: 95%;
                                                             margin: 0 auto;
                                                             padding: 40px;
                                                             text-align: center;
                                                         }
                                                         
                                                         p {
                                                             margin-top: 1px;
                                                             margin-bottom: 1px;
                                                             margin-left: 1px;
                                                             margin-right: 1px;
                                                         }
                                                         
                                                         code {
                                                             align-content: flex-start;
                                                             justify-content: space-evenly;
                                                             padding: 2px;
                                                         }
                                                         
                                                         h2 {
                                                             margin: 1px;
                                                             text-align: center;
                                                         }
                                                         
                                                         section {
                                                             padding: 10px;
                                                             border: 1px - purple;
                                                             flex-wrap: wrap;
                                                             flex-direction: column;
                                                             transition: margin 1s;
                                                         }
                                                         
                                                         main {
                                                             width: 95%;
                                                             text-align: center;
                                                         }
                                                         
                                                         pre {
                                                             background-image: linear-gradient(black white);
                                                         }
                                                         
                                                         .grid-container {
                                                             display: flex;
                                                             flex-wrap: wrap;
                                                             flex-direction: row;
                                                             margin-left: -24px;
                                                             margin-right: -24px;
                                                         }
                                                         
                                                         .row {
                                                             display: inline-block;
                                                             align-items: flex-start;
                                                             flex-wrap: wrap;
                                                             flex-direction: row;
                                                             margin-left: -24px;
                                                             margin-right: -24px;
                                                             padding: 24px;
                                                             justify-content: center;
                                                         }
                                                         
                                                         .box {
                                                             display: flex;
                                                             flex-direction: column;
                                                             justify-content: center;
                                                             min-height: 100%;
                                                             padding: 32px;
                                                             outline: 2px dashed white;
                                                             outline-offset: -1px;
                                                             transition: all 0.5s ease-in-out;
                                                         }
                                                         
                                                         .box .box {
                                                             position: relative;
                                                             margin: -4rem 0 1 1.5 0;
                                                             padding: 0.5 16px;
                                                             background-color: white;
                                                             border-radius: var(--border-radius);
                                                             transition: all 0.5s ease-in-out;
                                                         }
                                                         
                                                         .box:hover,
                                                         .box:hover .box-header {
                                                             box-shadow: inset 0px 0px 8px rgb(205, 50, 135), 0 0 15px rgb(205, 50, 197);
                                                         }
                                                         
                                                         .box .box-header {
                                                             position: relative;
                                                             margin: -50px 5px 30px 0;
                                                             padding: 5px 24px 20px;
                                                             background-color: rgb(53, 49, 49);
                                                             border-radius: var(--border-radius);
                                                         }
                                                         
                                                         .box .code-block {
                                                             flex-grow: 1;
                                                         }
                                                         
                                                         .box pre {
                                                             white-space: pre-wrap;
                                                             overflow: auto;
                                                             tab-size: 4;
                                                             padding: 20px 16px;
                                                             border-radius: 8px;
                                                             display: flex;
                                                             align-items: center;
                                                             align-content: flex-start;
                                                             justify-content: space-evenly;
                                                         }
                                                         
                                                         .box pre:active {
                                                             user-select: all;
                                                         }
                                                         
                                                         .code-block {
                                                             position: relative;
                                                             margin: 20px;
                                                             padding: 20px;
                                                             background-color: rgb(245, 102, 209);
                                                             border-radius: var(--border-radius);
                                                             display: flex;
                                                             flex-direction: column;
                                                             /* justify-content: flex-start; */
                                                             flex-wrap: wrap;
                                                             /* justify-content: center; */
                                                         }
                                                         
                                                         footer {
                                                             text-align: center;
                                                             margin: 0 auto;
                                                         }
                                                         
                                                         @media screen and (min-width: 480px) {
                                                             .box {
                                                                 display: block;
                                                             }
                                                         }
                                                         
                                                         @media screen and (min-width: 768px) {
                                                             .box {
                                                                 flex-wrap: wrap;
                                                             }
                                                         }